body {
    background-color: black;
}
header {
    font: normal 10pt Arial;
    color: white;
}
button {
    padding: 10pt;
}
video#videopica style {
display: none;
position: fixed;
right: 0;
bottom: 0;
min-width: 150%;
min-height: 150%;
}